[submodule "fork_projects/swc"]
	path = fork_projects/swc
	url = git@github.com:swc-project/swc.git
[submodule "fork_projects/git-cliff"]
	path = fork_projects/git-cliff
	url = git@github.com:cihat/git-cliff.git
[submodule "fork_projects/fd"]
	path = fork_projects/fd
	url = git@github.com:sharkdp/fd.git
[submodule "fork_projects/"]
  path = fork_projects/rustlings
  url = git@github.com:rust-lang/rustlings.git
[submodule "fork_projects/rustlings"]
	path = fork_projects/rustlings
	url = https://github.com/rust-lang/rustlings
[submodule "fork_projects/Rocket"]
	path = fork_projects/Rocket
	url = https://github.com/rwf2/Rocket
[submodule "rustlings"]
	path = rustlings
	url = git@github.com:rust-lang/rustlings.git
[submodule "fork_projects/dimooper"]
	path = fork_projects/dimooper
	url = git@github.com:tsoding/dimooper.git
